---
import { type CollectionEntry } from 'astro:content';
import ArrowRight from '../icons/ArrowRight.astro';

type Props = { project: CollectionEntry<'projects'>; class?: string; headingLevel?: 'h2' | 'h3'; image: string };

const { project, class: className, image = "/images/post-1.jpg", headingLevel = 'h2' } = Astro.props;
const { title } = project.data;
const TitleTag = headingLevel;
---

<a class:list={['flex flex-col justify-between items-start gap-4 group', className]} href={`/projects/${project.slug}/`}>
    <div class="grow">
        <img src="{project.seo}" width="400" height="400" />
        <TitleTag class="text-xl leading-tight tracking-tight font-medium">
            {title}
        </TitleTag>
    </div>
    <div class="flex items-center gap-2 group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-1">
        View Project <ArrowRight class="fill-current w-4 h-4" />
    </div>
</a>
